on: push
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
        - name: Create log file
          run: touch log.txt
        - name: Insert log create date
          run: date -Iminutes >> log.txt
        - name: Insert our names
          run: echo "Matan Tsach, Dolev Gabay, Gal Razabi\n" >> log.txt
        - name: Checkout
          uses: actions/checkout@v3
        - name: Setup Docker Buildx
          uses: docker/setup-buildx-action@v2
        - name: Build and export
          uses: docker/build-push-action@v3
          with:
            context: .
            file: ./Dockerfile.setport
            tags: project-1:latest
            outputs: type=docker, dest=/tmp/image.tar
        - name: Check if image was created
          if: always()
          run: |
            if [ -f /tmp/image.tar ]; then
                echo "image successfully built\n" >> log.txt
            else
                echo "image not able to be built\n" >> log.txt
            fi
        - name: Upload image artifact
          uses: actions/upload-artifact@v3
          with:
            name: project1
            path: /tmp/image.tar
        - name: Upload log artifact
          if: always()
          uses: actions/upload-artifact@v3
          with:
            name: log
            path: log.txt
    test:
        runs-on: ubuntu-latest
        steps:
        # Part 1
        - name: Download artifact
          uses: actions/download-artifact@v3
        - name: Load docker image from previous workflow
          run: docker load --input project1/image.tar
        - name: Run image in container
          run: docker run -p8000:8000 project1 &
        - name: Check container is running
          run: |
            if docker ps | grep -q "project1"; then
                echo "Container up and running\n" >> log/log.txt
            else
                echo "Container failed to run\n" >> log/log.txt
            fi
        # Part 2
        - name: Checkout
          uses: actions/checkout@v3
        - name: Set up Python
          uses: actions/setup-python@v4
        - name: Install dependencies
          run: |
            python -m pip pinstall --upgrade pip
            pip install pytest
            pip install requests
           # if [ -f requirments.txt ]; then pip install -r requirements.txt; fi
        # Part 3
        - name: Test with pytest
          run: |
            cd tests
            pytest -v assn3_tests.py > assn3_test_results.txt
        - name: Upload test results
          if: always()
          uses: actions/upload-artifact@v3
          with:
            name: Test_Results
            path: tests/assn3_test_results.txt
        - name: Upload log artifact
          if: always()
          uses: actions/upload-artifact@v3
          with:
            name: log
            path: log/log.txt
            