on: push
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout
          uses: actions/checkout@v3
        - name: Create log file
          run: |
            date -Iminutes >> log.txt
            echo "Matan Tsach, Dolev Gabay, Gal Razabi" >> log.txt
        - name: Setup Docker Buildx
          uses: docker/setup-buildx-action@v2
        - name: Build and export
          uses: docker/build-push-action@v3
          with:
            context: .
            file: Dockerfile
            tags: project-1:latest
            outputs: type=docker, dest=/tmp/image.tar
        - name: update log file success
          if: success()
          run: echo "image successfully built" >> log.txt
        - name: update log file fail
          if: failure()
          run: echo "image not able to be built" >> log.txt
        - name: Upload image artifact
          uses: actions/upload-artifact@v3
          with:
            name: project1
            path: /tmp/image.tar
        - name: Upload log artifact
          if: always()
          uses: actions/upload-artifact@v3
          with:
            name: log
            path: log.txt
    test:
        needs: build
        runs-on: ubuntu-latest
        steps:
        # Part 1
        - name: Checkout
          uses: actions/checkout@v3
        - name: Set up Python
          uses: actions/setup-python@v4
        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install pytest
            pip install requests
        - name: Download artifact
          uses: actions/download-artifact@v3
        - name: Load docker image from previous workflow
          run: docker load --input project1/image.tar
        - name: Run image in container
          run: docker runsss -p8000:8000 project-1 &
        - name: Update log file container fail
          if: failure()
          run: echo "Container failed to run" >> log/log.txt
        - name: Update log file container success
          if: success()
          run: echo "Container up and running" >> log/log.txt
        - name: Test with pytest and log result
          id: pytest
          run: |
            cd tests
            pytest -v assn3_tests.py > assn3_test_results.txt
        - name: Add test status to log file success
          if: steps.pytest.outcome == 'success'
          run: echo "tests succeeded" >> log/log.txt
        - name: Add test status to log file failure
          if: steps.pytest.outcome == 'failure'
          run: echo "tests failed" >> log/log.txt
        - name: Upload test results
          if: always()
          uses: actions/upload-artifact@v3
          with:
            name: assn3_test_results
            path: tests/assn3_test_results.txt
        - name: Upload log artifact
          if: always()
          uses: actions/upload-artifact@v3
          with:
            name: log
            path: log/log.txt
    query:
        needs: build
        runs-on: ubuntu-latest
        steps:
        # Part 1
        - name: Checkout
          uses: actions/checkout@v3
        - name: Set up Python
          uses: actions/setup-python@v4
        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install requests
        - name: Download artifact
          uses: actions/download-artifact@v3
        - name: Load docker image from previous workflow
          run: docker load --input project1/image.tar
        - name: Run image in container
          run: docker run -p8000:8000 project-1 &
        - name: Run query
          run: python QueryExecuter.py
        - name: Upload query results
          if: always()
          uses: actions/upload-artifact@v3
          with:
            name: response
            path: response.txt
        
            

            