on: push
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
        - name: Checkout
          uses: actions/checkout@v3
        - name: Setup Docker Buildx
          uses: docker/setup-buildx-action@v2
        - name: Build and export
          id: build-export
          uses: docker/build-push-action@v3
          with:
            context: .
            file: Dockerfile
            tags: project-1:latest
            outputs: type=docker, dest=/tmp/image.tar
        - name: Create log file
          if: always()
          run: |
            date -Iminutes >> log.txt
            echo "Matan Tsach, Dolev Gabay, Gal Razabi" >> log.txt
            if [[ $build-export-exit-code -eq 0 ]]; then
                echo "image successfully built" >> log.txt
            else
                echo "image not able to be built" >> log.txt
            fi
        - name: Upload image artifact
          uses: actions/upload-artifact@v3
          with:
            name: project1
            path: /tmp/image.tar
        - name: Upload log artifact
          if: always()
          uses: actions/upload-artifact@v3
          with:
            name: log
            path: log.txt
    test:
        needs: build
        runs-on: ubuntu-latest
        steps:
        # Part 1
        - name: Checkout
          uses: actions/checkout@v3
        - name: Set up Python
          uses: actions/setup-python@v4
        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install pytest
            pip install requests
        - name: Download artifact
          uses: actions/download-artifact@v3
        - name: Load docker image from previous workflow
          run: docker load --input project1/image.tar
        - name: Run image in container
          run: docker run -p8000:8000 project-1 &
        - name: Check container is running
          if: always()
          run: |
            if docker ps | grep -q "project-1"; then
                echo "Container up and running" >> log/log.txt
            else
                echo "Container failed to run" >> log/log.txt
            fi
        - name: Test with pytest and log result
          run: |
            cd tests
            pytest -v assn3_tests.py > assn3_test_results.txt
            exit_code=$?
            if [ $exit_code -eq 0 ]; then
              echo "tests succeeded" >> log/log.txt
            else
              echo "tests failed" >> log/log.txt
            fi
        - name: Upload test results
          if: always()
          uses: actions/upload-artifact@v3
          with:
            name: Test_Results
            path: tests/assn3_test_results.txt
        - name: Upload log artifact
          if: always()
          uses: actions/upload-artifact@v3
          with:
            name: log
            path: log/log.txt
            